<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"><channel>
    <title>Come, Follow Me — World English Bible</title>
    <link>https://www.churchofjesuschrist.org/study/manual/come-follow-me-for-home-and-church-old-testament-2026?lang=eng</link>
    <description>Weekly Come, Follow Me readings in the public-domain World English Bible.</description>
    <language>en-us</language>
    <lastBuildDate>Wed, 23 Sep 2026 15:08:36 GMT</lastBuildDate>
    <item>
      <title>Isaiah 13 — World English Bible</title>
      <description>September 21–27 — Isaiah 13–14; 22; 24–30; 35</description>
      <link>https://ebible.org/eng-web/ISA13.htm</link>
      <guid isPermaLink="false">https://ebible.org/eng-web/audio/23_Isaiah/01%200692%20Isaiah-Chapter%20Thirteen.mp3</guid>
      <enclosure url="https://ebible.org/eng-web/audio/23_Isaiah/01%200692%20Isaiah-Chapter%20Thirteen.mp3" length="0" type="audio/mpeg"/>
    </item>
    <item>
      <title>Isaiah 14 — World English Bible</title>
      <description>September 21–27 — Isaiah 13–14; 22; 24–30; 35</description>
      <link>https://ebible.org/eng-web/ISA14.htm</link>
      <guid isPermaLink="false">https://ebible.org/eng-web/audio/23_Isaiah/01%200693%20Isaiah-Chapter%20Fourteen.mp3</guid>
      <enclosure url="https://ebible.org/eng-web/audio/23_Isaiah/01%200693%20Isaiah-Chapter%20Fourteen.mp3" length="0" type="audio/mpeg"/>
    </item>
    <item>
      <title>Isaiah 22 — World English Bible</title>
      <description>September 21–27 — Isaiah 13–14; 22; 24–30; 35</description>
      <link>https://ebible.org/eng-web/ISA22.htm</link>
      <guid isPermaLink="false">https://ebible.org/eng-web/audio/23_Isaiah/01%200700%20Isaiah-Chapter%20Twenty%20Two.mp3</guid>
      <enclosure url="https://ebible.org/eng-web/audio/23_Isaiah/01%200700%20Isaiah-Chapter%20Twenty%20Two.mp3" length="0" type="audio/mpeg"/>
    </item>
    <item>
      <title>Isaiah 24 — World English Bible</title>
      <description>September 21–27 — Isaiah 13–14; 22; 24–30; 35</description>
      <link>https://ebible.org/eng-web/ISA24.htm</link>
      <guid isPermaLink="false">https://ebible.org/eng-web/audio/23_Isaiah/01%200702%20Isaiah-Chapter%20Twenty%20Four.mp3</guid>
      <enclosure url="https://ebible.org/eng-web/audio/23_Isaiah/01%200702%20Isaiah-Chapter%20Twenty%20Four.mp3" length="0" type="audio/mpeg"/>
    </item>
    <item>
      <title>Isaiah 25 — World English Bible</title>
      <description>September 21–27 — Isaiah 13–14; 22; 24–30; 35</description>
      <link>https://ebible.org/eng-web/ISA25.htm</link>
      <guid isPermaLink="false">https://ebible.org/eng-web/audio/23_Isaiah/01%200703%20Isaiah-Chapter%20Twenty%20Five.mp3</guid>
      <enclosure url="https://ebible.org/eng-web/audio/23_Isaiah/01%200703%20Isaiah-Chapter%20Twenty%20Five.mp3" length="0" type="audio/mpeg"/>
    </item>
  </channel></rss>
